.dart_tool/
.packages
.pub/
build/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/debug
android/app/profile
android/app/release
